"*":
  editor:
    invisibles: {}
    softWrap: true
  core: {}
  "exception-reporting":
    userId: "144b66b2-d211-058e-70cf-1479010760a4"
  welcome:
    showOnStartup: false
  "atom-beautify":
    _analyticsUserId: "122b4b9e-0bf3-4db8-8ef7-42d6970c404f"
